body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin:0px;
    padding:0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 56px;
    background-color: #101010;
    color: #fff;
    line-height: 56px;
    font-size: 24px;
}

.main {
    width:600px;
    text-align: center;
    margin: 5px auto;
}

.CodeMirror{
    margin: 0 auto;
    font-family: monospace;
    height: 100px;
    width: 600px;
}

.h1 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}