{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        SQLflow
        <a href="/">Home</a>&nbsp; | &nbsp;<a href="{{ url_for('sql') }}">sql</a>&nbsp; | &nbsp;<a href="{{ url_for('script') }}">script</a>
    </div>

    <div class="main">
        <h1 class="h1">Welcome to SQLflow</h1>
        <p>SQLflow based on python development, support to Spark, as the underlying distributed computing
            engine,
            <br/>through a set of unified configuration file to complete the batch, flow calculation, the Rest service
            development.</p>
        <h5><a href="{{ url_for('script') }}" style="font-size: 12px">点此>>到script页面输入 select * from A limit 3;或者select * from A limit 3 as B;生成临时表A或者B</a></h5>
        <h5><a href="{{ url_for('sql') }}" style="font-size: 12px">然后到sql页面输入 spark sql语法操作表A和B</a></h5>
    </div>
{% endblock %}