{% extends 'base.html' %}
{% block script %}
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                var searchText = $("#emit_data").val();
                $.ajax({
                    url: '/run?' + "data=" + searchText,
                    dataType: "json",
                    type: 'get',
                    async: true,
                    cache: false,
                    success: function (data) {
                        $('#data').append(data)
                    }
                })
            })
        })
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <a href="{{ url_for('index') }}">SQLflow</a>
    </div>
    <div class="main">
        <h1 class="h1">SQLflow</h1>
        <h5>输入测试: SELECT * FROM A limit 3;</h5>
        <h6>【注】第一次执行sql时会比较慢,需要大约5秒,因为需要启动pyspark</h6>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message" style="width: 600px;height: 50px">
        <input type="submit" value="查询" id="submit">
        <div id='data'></div>
    </div>
{% endblock %}